<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
</head>

<body>
  <div class="home_item">
    <p class="home_title">Artcle 1</p>
    <div class="m_tablet_view">
      <div class="home_img_desc">
        <img src="./img/home1.jpg" alt="">
        <p class="home_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos labore maxime, nisi laborum
          voluptatem dolorum eveniet magnam tempore, modi voluptates accusantium velit tempora cumque iure a quasi quae
          quia. Fuga saepe nemo temporibus error dolores? Nisi, odio atque dolorum iusto blanditiis quos expedita
          temporibus saepe dignissimos reprehenderit, beatae exercitationem iste perferendis. Quibusdam, ipsa
          cupiditate!
          Eum odit quo consequatur hic distinctio est, ipsam facere ipsum molestias expedita cumque numquam quae sit
          illo
          repudiandae eius nisi maxime nobis nam! Dolor culpa vel ad totam, impedit nobis numquam dolores fuga deleniti
          facere? Qui laborum veritatis non commodi unde itaque odit ab deleniti odio.</p>
      </div>
      <p class="home_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illum, reprehenderit
        aliquam eaque veritatis harum voluptatum sequi voluptas expedita placeat ut, quisquam similique esse cumque
        eligendi non architecto doloremque. Distinctio, accusamus voluptatem? Doloremque quas doloribus laboriosam
        praesentium vitae, quae qui cum, sed consequuntur a, rerum nulla impedit molestiae? Eum, consequatur!</p>
      <p class="home_desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime asperiores a error dicta
        quaerat tempore sit ad fugit officiis rerum amet accusantium reprehenderit perspiciatis cumque consequuntur
        voluptatem commodi labore consectetur sint ab quasi, repudiandae placeat quidem? Sit consequuntur dolorum eum
        tempore recusandae, reprehenderit quidem error ea magni magnam, laboriosam beatae, velit iure. Optio mollitia
        doloremque soluta aspernatur eveniet nihil, fugiat eaque repudiandae blanditiis quisquam excepturi libero aut
        nemo. Quae ipsa quibusdam quod molestiae officia, aliquid omnis amet labore sunt minima?</p>
    </div>
    <div class="desktop_view">
      <div class="home_img_desc">
        <img src="./img/home1.jpg" alt="">
        <div>
          <p class="home_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos labore maxime, nisi laborum
            voluptatem dolorum eveniet magnam tempore, modi voluptates accusantium velit tempora cumque iure a quasi
            quae
            quia. Fuga saepe nemo temporibus error dolores? Nisi, odio atque dolorum iusto blanditiis quos expedita
            temporibus saepe dignissimos reprehenderit, beatae exercitationem iste perferendis. Quibusdam, ipsa
            cupiditate!
            Eum odit quo consequatur hic distinctio est, ipsam facere ipsum molestias expedita cumque numquam quae sit
            illo
            repudiandae eius nisi maxime nobis nam! Dolor culpa vel ad totam, impedit nobis numquam dolores fuga
            deleniti
            facere? Qui laborum veritatis non commodi unde itaque odit ab deleniti odio.</p>
          <p class="home_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illum, reprehenderit
            aliquam eaque veritatis harum voluptatum sequi voluptas expedita placeat ut, quisquam similique esse cumque
            eligendi non architecto doloremque. Distinctio, accusamus voluptatem? Doloremque quas doloribus laboriosam
            praesentium vitae, quae qui cum, sed consequuntur a, rerum nulla impedit molestiae? Eum, consequatur!</p>
          <p class="home_desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime asperiores a error dicta
            quaerat tempore sit ad fugit officiis rerum amet accusantium reprehenderit perspiciatis cumque consequuntur
            voluptatem commodi labore consectetur sint ab quasi, repudiandae placeat quidem? Sit consequuntur dolorum
            eum
            tempore recusandae, reprehenderit quidem error ea magni magnam, laboriosam beatae, velit iure. Optio
            mollitia
            doloremque soluta aspernatur eveniet nihil, fugiat eaque repudiandae blanditiis quisquam excepturi libero
            aut
            nemo. Quae ipsa quibusdam quod molestiae officia, aliquid omnis amet labore sunt minima?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home_item">
    <p class="home_title">Artcle 2</p>
    <div class="m_tablet_view">
      <div class="home_img_desc">
        <img src="./img/home1.jpg" alt="">
        <p class="home_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos labore maxime, nisi laborum
          voluptatem dolorum eveniet magnam tempore, modi voluptates accusantium velit tempora cumque iure a quasi quae
          quia. Fuga saepe nemo temporibus error dolores? Nisi, odio atque dolorum iusto blanditiis quos expedita
          temporibus saepe dignissimos reprehenderit, beatae exercitationem iste perferendis. Quibusdam, ipsa
          cupiditate!
          Eum odit quo consequatur hic distinctio est, ipsam facere ipsum molestias expedita cumque numquam quae sit
          illo
          repudiandae eius nisi maxime nobis nam! Dolor culpa vel ad totam, impedit nobis numquam dolores fuga deleniti
          facere? Qui laborum veritatis non commodi unde itaque odit ab deleniti odio.</p>
      </div>
      <p class="home_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illum, reprehenderit
        aliquam eaque veritatis harum voluptatum sequi voluptas expedita placeat ut, quisquam similique esse cumque
        eligendi non architecto doloremque. Distinctio, accusamus voluptatem? Doloremque quas doloribus laboriosam
        praesentium vitae, quae qui cum, sed consequuntur a, rerum nulla impedit molestiae? Eum, consequatur!</p>
      <p class="home_desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime asperiores a error dicta
        quaerat tempore sit ad fugit officiis rerum amet accusantium reprehenderit perspiciatis cumque consequuntur
        voluptatem commodi labore consectetur sint ab quasi, repudiandae placeat quidem? Sit consequuntur dolorum eum
        tempore recusandae, reprehenderit quidem error ea magni magnam, laboriosam beatae, velit iure. Optio mollitia
        doloremque soluta aspernatur eveniet nihil, fugiat eaque repudiandae blanditiis quisquam excepturi libero aut
        nemo. Quae ipsa quibusdam quod molestiae officia, aliquid omnis amet labore sunt minima?</p>
    </div>
    <div class="desktop_view">
      <div class="home_img_desc">
        <img src="./img/home1.jpg" alt="">
        <div>
          <p class="home_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos labore maxime, nisi laborum
            voluptatem dolorum eveniet magnam tempore, modi voluptates accusantium velit tempora cumque iure a quasi
            quae
            quia. Fuga saepe nemo temporibus error dolores? Nisi, odio atque dolorum iusto blanditiis quos expedita
            temporibus saepe dignissimos reprehenderit, beatae exercitationem iste perferendis. Quibusdam, ipsa
            cupiditate!
            Eum odit quo consequatur hic distinctio est, ipsam facere ipsum molestias expedita cumque numquam quae sit
            illo
            repudiandae eius nisi maxime nobis nam! Dolor culpa vel ad totam, impedit nobis numquam dolores fuga
            deleniti
            facere? Qui laborum veritatis non commodi unde itaque odit ab deleniti odio.</p>
          <p class="home_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illum, reprehenderit
            aliquam eaque veritatis harum voluptatum sequi voluptas expedita placeat ut, quisquam similique esse cumque
            eligendi non architecto doloremque. Distinctio, accusamus voluptatem? Doloremque quas doloribus laboriosam
            praesentium vitae, quae qui cum, sed consequuntur a, rerum nulla impedit molestiae? Eum, consequatur!</p>
          <p class="home_desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime asperiores a error dicta
            quaerat tempore sit ad fugit officiis rerum amet accusantium reprehenderit perspiciatis cumque consequuntur
            voluptatem commodi labore consectetur sint ab quasi, repudiandae placeat quidem? Sit consequuntur dolorum
            eum
            tempore recusandae, reprehenderit quidem error ea magni magnam, laboriosam beatae, velit iure. Optio
            mollitia
            doloremque soluta aspernatur eveniet nihil, fugiat eaque repudiandae blanditiis quisquam excepturi libero
            aut
            nemo. Quae ipsa quibusdam quod molestiae officia, aliquid omnis amet labore sunt minima?</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>